.description {
    color: #9088c7;
}

h2 {
    color: green;
}

ul {
    font-family: "lucinda console", monospace;
}

ol {
    font-size: 30px;
}

img {
    height: auto;
    width: 500px;
}

.onigiri-ing {
    color: red;
}