.description {
    color: #9088c7;
}

h2 {
    color: green;
}

ul {
    font-family: "lucinda console", monospace;
}

ol {
    font-size: 30px;
}

img {
    height: auto;
    width: 500px;
}

.onigiri-ing {
    color: red;
}

.index-card {
    background-color: #778a35;
    width: 300px;
    margin: 300px auto;
    padding: 8px;
    font-size: 20px;
    text-align: center;
    border-style: double;
    border-radius: 10px;
    border-width: 10px;
    border-color: #31352e;
}

.onigiri-index {
  color: #31352e;
  padding-bottom: 16px;
}

.index-title {
    color: white;
}

a:visited {
    color: #31352e;
  }